dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
/icepeak.cabal
/stack.yaml.lock

# Vim swap files
*.swp
*.swo
icepeak.json
icepeak.json.journal
icepeak.json.new
